.form {
  display: flex;
  flex-direction: column;
  margin: 25% auto;
  justify-content: center;
  align-content: center;

  border: .1rem solid rgba(0, 0, 0, .5);
  border-radius: .5rem;
  padding:1rem;

  width:500px;
  gap:.5rem;

  fieldset{
    border: 0px;
    display:contents;
  }

  input{
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .5)
  }

  .submit{
    cursor: pointer;
    border-radius: .5rem;
    border:0px;
    background-color: rgba(0, 255, 162, 0.5);
    height:2rem;
  }

  .reponse{
    border:.1rem solid rgba(0, 0, 0, .5);
    border-radius: .5rem;
    padding:.5rem;
  }

  .alert{
    text-align: center;
    font-size:larger;
    color:red;
  }

}
